* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 3em;
}

button {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #6a7eba;
    border-style: none;
    border-radius: 0.5em;
    padding: 1rem;
}

#container {
  width: 600px;
  height: 600px;  
  display: flex;
  flex-direction: column;
  border: solid black 1px;
}

.box1 {
    display: flex;
    align-items: stretch;
    flex: 1;
}


.box2 {
    /* border: solid black 1px; */
    background-color: white;
    flex: 1;

    /* width: 30px;  */
    /* height: 30px; */ 
    }

.portfolio {
    display: flex;
    gap: 2rem;
}

a, a:visited {
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #44558a;
}
    
a:hover {
    color: #6a7eba;
}